# frontend
VITE_API_BASE_URL=http://192.168.20.201/api

# backend
PORT=3000
DATABASE_URL=mysql://mzc_app:1234@192.168.30.10:3306/restaurant_waiting
JWT_SECRET="mzc-secret-key"
JWT_EXPIRES_IN=1h
REDIS_HOST=192.168.30.10
REDIS_PORT=6379
